@import url("https://fonts.googleapis.com/css2?family=Revalia&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	background: url(./images/background.png);
	background-attachment: fixed;
	background-position: cover;
	background-repeat: no-repeat;
	font-size: 10px;
	font-family: sans-serif;
}

a,
a:focus {
	text-decoration: none;
	color: inherit;
}
/* ***** */

header {
	padding: 30px;
	background: #212121;
}

h1 {
	color: #425a50;
	font-weight: 400;
	font-size: 1.4rem;
	text-transform: uppercase;
	letter-spacing: 1px;
}

h2 {
	font-size: 0.8rem;
	font-family: "Revalia";
	position: relative;
	display: inline-block;
	color: #aaf0d3;
	margin-bottom: 15px;
}

h2 a {
	font-size: 1.6rem;
}

h2::after {
	position: absolute;
	content: "";
	width: 100%;
	height: 2px;
	background: #aaf0d3;
	bottom: -5px;
	left: 0;
	transform-origin: 100% 0;
	transform: scaleX(0);
	transition: transform 0.4s;
}

h2:hover::after {
	transform-origin: 0 0;
	transform: scaleX(1);
}

#cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#cards a {
	width: 100%;
	min-width: 250px;
	max-width: 450px;
	margin: 30px;
	position: relative;
	z-index: 9;
}

#cards a img {
	width: 100%;
	height: auto;
}

#cards a::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	top: 5px;
	left: 5px;
	background: #425a50;
	z-index: -1;
	transition: all 0.1s ease-in-out;
}

#cards a:hover::before {
	background: #aaf0d3;
	top: 10px;
	left: 10px;
}
